body {
  width: 500px;
  padding: 2rem;
  border: solid 1px black;
  margin: auto;
  margin-top: 2rem;
}

p {
  margin: 0rem;
}

.todo {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.todo-text {
  margin: 0rem 0.5rem;
}

.due-date {
  margin-right: 1rem;
}

.strike {
  text-decoration-line: line-through;
}

.primary-btn {
  padding: 0.375rem 0.5rem;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: #ffffff;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name-heading {
  margin: 1rem 0rem;
  padding: 0.5rem;
  background-color: lightblue;
  font-size: 1rem;
  width: max-content;
}
